{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block other_meta %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            @media screen and (max-width: 650px){
                #carousel-adapt{display: none;}
                #carousel-pics{display: none;}
            }
        </style>
        <script type="text/javascript" src = "{% static 'js/jquery-3.1.1.min.js' %}" ></script>

        {% block style %}
        {% endblock %}
    </head>

    <body>
    <div>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse navbar-right scroll-me">
                    <ul class="nav navbar-nav ">
                        <li class="active">
                            <a href="/"> 主页 </a>
                        </li>
                        <li class="active">
                            <a href="/BorrowBookPage"> 借书 </a>
                        </li>
                        <li class="active">
                            {% if Login_active %}
                                <a href="/Logout"> 退出 </a>
                            {% else %}
                                <a href="/Login"> 登录 </a>
                            {% endif %}
                        </li>

                        {% if Login %}
                        <li class="active">
                            <a href="" title="查看个人信息">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div>

                </div>

            </div>


        </div>

        <div style="height: 50px"> </div>
        {% block content %}
        {% endblock %}

        <!-- footer content is in footer.html -->
        {% include "footer.html" %}


    {% block other_script %}

    {% endblock %}
    </body>
</html>
