{% load staticfiles %}
<!--footer-->
<div>
    <div class="footer-section" style="margin-bottom: 0px;">
        <div style="border-top: 2px  solid #eee;">
           <div class="footer-box_left" style="margin-top: 7px">
                <h5 align="center">联系我们</h5>
                <p align="center">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;E-MAIL:842974287@qq.com<br>
                    <span class="glyphicon glyphicon-pushpin"></span>&nbsp;厦大学生公寓邮编：361005<br>
                    <span class="glyphicon glyphicon-map-marker"></span>&nbsp;福建省厦门市思明区厦大学生公寓<br>
                </p>
            </div>

            <div class="footer-box_mid" style="margin-top: 7px">
                <h5 align="center">超级无敌图书馆</h5>
                <div style="padding: 0px 30px;">
                    <p align="center">旨在为同学们提供一个借书的平台！</p>
                </div>
            </div>


        </div>
    </div>
</div>
